body {
  background: rgb(192, 187, 181);
  font-family: 'Syncopate', sans-serif;
}

h2 {
  font-size: 40px;
  margin-top: 100px;
}

.container {
  background: grey;
  margin: 100px auto;
  padding: 40px;
  width: 40%;
  border: 2px solid black;
}

.list-title {
  text-align: center;
}

.list {
  list-style-type: none;
  font-size: 26px;
}



