body {
  background: rgb(192, 187, 181);
  font-family: sans-serif;
}

h2 {
  font-size: 40px;
  margin-left: 20px;
  font-family: 'Covered By Your Grace', cursive;
}

table {
  background: grey;
  margin: 100px auto;
  padding: 40px;
  width: 50%;
  border: 2px solid black;
}

.list-title {
  text-align: left;
  padding: 10px;
  background: rgb(162, 162, 163);
}

.list {
  list-style-type: none;
  font-size: 26px;
}



